@model MyFaceLib.Models.User
@{
	ViewBag.Title = "About";
	Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="aboutHeader">
	<h2>About:<br /> @Model.RealName</h2>
</div>
<div class="aboutUser">
	<ul>
		<li><p4>Name: @Model.RealName</p4></li>
		<li><p4>Email: @Model.Email</p4></li>
		<li><p4>Birthday: @Model.Dob</p4></li>
		<li><p4>Description: @Model.Description</p4></li>
	</ul>
</div>